<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Control Center Gesture</string>
			<key>footerText</key>
			<string>Replace Swipe Up with switcher (including this tweak)
Interactive CC will display bottom section height based on swipe height (Bit Buggy in apps)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>isReplaceCCEnabled</string>
			<key>label</key>
			<string>Replace Swipe Up</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Disable in Apps</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.dgh0st.switchercontrols.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>Disabled-</string>
			<key>ALChangeNotification</key>
			<string>com.dgh0st.switchercontrols/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>isInteractiveCCEnabled</string>
			<key>label</key>
			<string>Interactive Swipe Up</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animation speed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>SCCSliderCell</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>0.25</real>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>animationSpeed</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Background</string>
			<key>footerText</key>
			<string>set the grayness for the background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>key</key>
			<string>blurStyle</string>
			<key>label</key>
			<string>Blur Style</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
				<array>
					<string>Ultra Light</string>
					<string>Light Low</string>
					<string>Flat Semi Light</string>
					<string>Semi Light</string>
					<string>Adaptive Light</string>
					<string>Light</string>
					<string>Blur</string>
					<string>Colored</string>
					<string>Ultra Colored</string>
					<string>Dark with Zoom</string>
					<string>Dark</string>
					<string>Ultra Dark</string>
					<string>Dark Low</string>
				</array>
			<key>validValues</key>
				<array>
					<integer>2010</integer>
					<integer>2029</integer>
					<integer>2071</integer>
					<integer>2070</integer>
					<integer>2060</integer>
					<integer>2020</integer>
					<integer>2</integer>
					<integer>2040</integer>
					<integer>2080</integer>
					<integer>2031</integer>
					<integer>2030</integer>
					<integer>2050</integer>
					<integer>2039</integer>
				</array>
			<key>shortTitles</key>
				<array>
					<string>Ultra Light</string>
					<string>Light Low</string>
					<string>Flat Semi Light</string>
					<string>Semi Light</string>
					<string>Adaptive Light</string>
					<string>Light</string>
					<string>Blur</string>
					<string>Colored</string>
					<string>Ultra Colored</string>
					<string>Dark with Zoom</string>
					<string>Dark</string>
					<string>Ultra Dark</string>
					<string>Dark Low</string>
				</array>
			<key>default</key>
			<integer>2010</integer>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/relayoutPreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>SCCSliderCell</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>backgroundGrayness</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/relayoutPreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Display media page on playing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>key</key>
			<string>defaultPage</string>
			<key>label</key>
			<string>Default Page</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
				<array>
					<string>Default ¯\_(ツ)_/¯</string>
					<string>Controls</string>
					<string>Media</string>
					<string>Devices</string>
				</array>
			<key>validValues</key>
				<array>
					<integer>-1</integer>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			<key>shortTitles</key>
				<array>
					<string>¯\_(ツ)_/¯</string>
					<string>Controls</string>
					<string>Media</string>
					<string>Devices</string>
				</array>			
			<key>default</key>
			<integer>-1</integer>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>isMediaPageOnPlayingEnabled</string>
			<key>label</key>
			<string>Media Page On Playing</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Night/Air Description Labels</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>isPortraitNightAndAirLabelsHidden</string>
			<key>label</key>
			<string>Hide Portrait</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/relayoutPreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>isLandscapeNightAndAirLabelsHidden</string>
			<key>label</key>
			<string>Hide Landscape</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/relayoutPreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Portrait Top Section Height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>SCCSliderCell</string>
			<key>min</key>
			<real>72</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>98</real>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>portraitTopHeight</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/relayoutPreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Landscape Top Section Height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>SCCSliderCell</string>
			<key>min</key>
			<real>72</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>78</real>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>landscapeTopHeight</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/relayoutPreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Portrait Bottom Section Height</string>
			<key>footerText</key>
			<string>Change the initial displayed height of bottom Section for portrait mode (Use 252 at most if you have only 2 sections in the bottom)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>SCCSliderCell</string>
			<key>min</key>
			<real>90</real>
			<key>max</key>
			<real>326</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>98</real>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>portraitBottomHeight</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/relayoutPreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Landscape Bottom Section Height</string>
			<key>footerText</key>
			<string>Change the initial displayed height of bottom Section for Landscape mode(Use 252 at most if you have only 2 sections in the bottom)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>SCCSliderCell</string>
			<key>min</key>
			<real>90</real>
			<key>max</key>
			<real>326</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>98</real>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>landscapeBottomHeight</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/relayoutPreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Portrait Scale</string>
			<key>footerText</key>
			<string>Scale the cards for portrait mode.
If 3DSwitcher 2 is enabled, then this will move the icons up vertically.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>SCCSliderCell</string>
			<key>min</key>
			<real>0.5</real>
			<key>max</key>
			<real>0.85</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>0.83</real>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>portraitScale</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Landscape Scale</string>
			<key>footerText</key>
			<string>Scale the cards for portrait mode.
If 3DSwitcher 2 is enabled, then this will move the icons up vertically.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>SCCSliderCell</string>
			<key>min</key>
			<real>0.5</real>
			<key>max</key>
			<real>0.85</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>0.60</real>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>landscapeScale</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>isScaleIconLabelsEnabled</string>
			<key>label</key>
			<string>Scale Icon/Labels</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Multi Slider Icon Background Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>SCCSliderCell</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>0.25</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>0.06</real>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>multiSliderBackgroundAlpha</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/relayoutPreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Portrait Card Offset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>SCCSliderCell</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>portraitOffset</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/relayoutPreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Landscape Card Offset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>SCCSliderCell</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>landscapeOffset</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/relayoutPreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>SwitcherControls © 2017 DGh0st</string>
		</dict>
	</array>
	<key>title</key>
	<string>Advanced</string>
</dict>
</plist>