<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable/Disable tweak (requires respring)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.switchercontrols</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.dgh0st.switchercontrols/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Section Layout</string>
			<key>detail</key>
			<string>SCCSectionsListController</string>
			<key>isController</key>
			<true/>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>sectionOrder.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Advanced Options</string>
			<key>detail</key>
			<string>SCCAdvancedListController</string>
			<key>isController</key>
			<true/>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>advanced.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>Enjoy the tweak :)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>email</string>
			<key>label</key>
			<string>Email Support</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>mail.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>follow</string>
			<key>label</key>
			<string>Follow on twitter</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>SwitcherControls © 2017 DGh0st</string>
		</dict>
	</array>
	<key>title</key>
	<string>SwitcherControls</string>
</dict>
</plist>
